// _profile.scss
//
// Template's profile page styles.
//


// Profile Page
.user-profile {
	background-color: #FFE4C4;
	.ant-card-head-title {
		span {
			font-weight: 600;
			font-size: 18px;
		}
	}
	.user-info {
		.avatar-item {
			.ant-form-item-control-input-content {
				display: flex;
				justify-content: center;
			}
			.ant-avatar {
				width: 120px;
				height: 120px;
			}
		}
		.ant-form-item {
			margin-bottom: 36px;
		}
	}
}
// / Profile Page
