// _profile.scss
//
// Template's profile page styles.
//


// Profile Page
.user-profile {
	background-color: #FFE4C4;
	height: 650px;
	border-radius: 8px !important;
	.ant-card-head-title {
		span {
			font-weight: 600;
			font-size: 18px;
		}
	}
	.user-info {
		.avatar-item {
			.ant-form-item-control-input-content {
				display: flex;
				justify-content: center;
			}
			.ant-upload-picture-card-wrapper {
				display: flex;
				justify-content: center;
			}
			.ant-upload {
				display: flex;
				justify-content: center;
				width: 120px;
				height: 120px;
			}
			.ant-avatar {
				width: 115px;
				height: 115px;
			}
		}
		.submit-item {
			.ant-form-item-control-input-content {
				display: flex;
				justify-content: space-evenly;
			}
			.ant-btn-primary svg path {
				fill: currentColor;
			}
		}
		.ant-form-item {
			margin-bottom: 28px;
		}
	}
	.friend-manage {
		.ant-input-search {
			margin-bottom: 10px;
		}
		.ant-list {
			height: 418px;
			overflow-y: scroll;
			.friend-nickname {
				font-size: 16px;
			}
		}
	}
	.intimacy-rank {

	}
}
// / Profile Page
