// _entrance.scss
//
// Template's index layout styles.
//


// Sign In Page
.background {
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('~/src/assets/cool-background2.png');
  background-attachment: fixed;
}
.entrance-card {
  margin: auto;
  min-height: 400px;
  width: 360px;
  border-radius: 40px;
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Microsoft YaHei UI', serif;
  }
  //.ant-form-item {
  //	margin-bottom: 18px;
  //}
  .ant-form-item:first-of-type {
    margin-top: 8px;
  }
  .ant-input-affix-wrapper {
    >.ant-input {
      font-weight: 400;
    }
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
  }
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: space-evenly;
  }
}
// / Sign In Page
