.message {
  width: 100%;
  height: 370px;
  .header {
    height: 60px;
    padding: 28px 0 0 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
    .friendname {
      font-size: 18px;
    }
  }
  .message-wrapper {
    min-height: 370px;
    max-height: 370px;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow-y: auto;
    border-bottom: 1px solid #e7e7e7;
    background: #ededed;
    ul {
      padding-left: 0;
    }
    .message-item {
      margin-bottom: 10px;
      list-style-type: none;
    }
    .time {
      width: 100%;
      font-size: 12px;
      margin: 7px auto;
      text-align: center;
      span {
        display: inline-block;
        padding: 4px 6px;
        color: #fff;
        border-radius: 3px;
        background-color: rgba(192, 192, 192, 0.78);
      }
    }
    .main {
      .avatar {
        float: left;
        margin-left: 15px;
        border-radius: 50%;
        //border: 1px solid #c0c0c0;
        width: 36px;
        height: 36px;
      }
      .content {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        padding: 4px 10px;
        max-width: 350px;
        min-height: 36px;
        line-height: 28px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: left;
        word-break: break-all;
        background-color: #fafafa;
        border-radius: 4px;
        &:before {
          content: " ";
          position: absolute;
          top: 12px;
          height: 12px;
          width: 12px;
          right: 100%;
          background-color: #fafafa;
          clip-path: polygon(50% 50%, 100% 0, 100% 100%);
          //border: 6px solid transparent;
          //border-right-color: #fafafa;
        }
      }
    }
    .self {
      text-align: right;
      .avatar {
        float: right;
        margin:0 15px 0 12px;
      }
      .content {
        background-color: #b2e281;
        &:before {
          right: -12px;
          vertical-align: middle;
          background:  #b2e281;
          clip-path: polygon(0 0, 50% 50%, 0 100%);
          //border-right-color: transparent;
          //border-left-color: #b2e281;
        }
      }
      .unread {
        color: #808080;
        font-size: 13px;
        vertical-align: bottom;
      }
    }
  }
}
